@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* constants */

:root{
    --main-color: #1a520c;
    --medium-main-color: #4a9637;
    --light-main-color: #62bc46;
}

.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    color: var(--main-color);
    font-weight: 700;
    padding: 12px 45px;
    border: 3px solid var(--main-color);
}

.header{
    padding: 20px 0;
}
.header h2{
    font-size: 2rem;
    font-weight: 500;
}

/* end of constants */

.hero,
.about-hero,
.blog-hero,
.career-hero,
.project-hero{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url(./images/index.html/hero-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.background-overflow{
    background-color: #1d3e13;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}
.hero header,
.about-hero header,
.blog-hero header,
.career-hero header,
.project-hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.hero header .logo,
.about-hero header .logo,
.blog-hero header .logo,
.career-hero header .logo,
.project-hero header .logo{
    width: 200px;
    cursor: pointer;
}
.hero header .logo img,
.about-hero header .logo img,
.blog-hero header .logo img,
.career-hero header .logo img,
.project-hero header .logo img{
    width: 100%;
}
.hero header ul li,
.about-hero header ul li,
.blog-hero header ul li,
.career-hero header ul li,
.project-hero header ul li{
    display: inline-block;
}
.hero header ul li,
.about-hero header ul li,
.blog-hero header ul li,
.career-hero header ul li,
.project-hero header ul li{
    margin: 0 10px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.hero header ul li a,
.about-hero header ul li a,
.blog-hero header ul li a,
.career-hero header ul li a,
.project-hero header ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
    font-weight: 600;
}
.hero main,
.about-hero main,
.blog-hero main,
.career-hero main,
.project-hero main{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero main h1{
    font-size: 1.8rem;
}
.hero main h1,
.about-hero main h1,
.blog-hero main h1,
.career-hero main h1,
.project-hero main h1{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
}

/* video background on index html */

#myVideo3{
    position: relative;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero{
    background-image: none;
}

.hero .wrapper{
    position: absolute;
    top: 0;
    height: 100%;
}

/* responsive media */

@media screen and (max-width: 900px){
    #myVideo{
        display: none;
    }
    #about-hero .background-overflow{
        display: none;
    }
    #about-hero {
        background-image: url(./images/index.html/hero-background.png);
    }
}


/* end of responsive media */

/* end of video background on index html */

/* section 2 */

.index-section-2{
    text-align: center;
    padding-bottom: 30px;
    overflow: hidden;
}
#section-2 .btn{
    transition: all 0.3s ease-in;
}
#section-2 .btn:hover{
    color: white;
    background-color: var(--main-color);
}
#section-2 .content{
    display: flex;
    justify-content: center;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto 50px auto;
}

.index-section-2 .content {
    width: 800px;
    width: 100%;
}

#section-2 .content .left{
    width: 100%;
    max-width: 500px;
}
#section-2 .content .left img{
    width: 100%;
    min-width: 400px;
}
#section-2 .content .right{
    width: 100%;
    max-width: 350px;
    text-align: left;
    margin-top: 20px;
}
#section-2 .content .right .text{
    display: inline-block;
    width: 250px;
    color: #fff;
    transform: translateX(-30px);
}
#section-2 .content .right .text .project-name{
    display: inline-block;
    background-color: var(--light-main-color);
    padding: 15px;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
}
#section-2 .content .right .describtion{
    margin-top: 15px;
    padding-left: 20px;
}


/* end of section 2 */

/* section 3 */

#section-3{
    background-color: #4a9637;
    text-align: center;
}
#section-3 .header h2{
    color: #fff;
    text-transform: uppercase;
    margin-top: 50px;
}

#section-3 .content{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    background-color: #fff;
    padding: 50px;
    transform: translateY(20px);
}
#section-3 .content .item{
    width: 100%;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}
#section-3 .content .item img{
    margin-right: 20px;
    width: 100%;
    max-width: 50px;
    height: 50px;
    margin-top: 10px;
}

#section-3 .content .item .text-box{
    width: 100%;
}
#section-3 .content .item .text-box .text-header{
    margin: 5px 0;
    font-weight: 500;
    font-size: 13px;
}
#section-3 .content .item .text-box .text{
    font-size: 13px;
    color: #7c7c7c;
}

/* end of section 3 */

/* section 4 */

#section-4{
    text-align: center;
    padding-bottom: 50px;
    overflow: hidden;
}
#section-4 .header{
    display: inline-block;
    margin-top: 50px;
}
#section-4 .header h2{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

#section-4 .content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 0 20px;
    margin-top: 50px;
    justify-content: center;
}
#section-4 .content .item{
    position: relative;
    padding: 40px 20px;
    /* background: hsla(106, 77%, 33%, 1);

    background: linear-gradient(90deg, hsla(106, 77%, 33%, 1) 0%, hsla(107, 52%, 45%, 1) 50%, hsla(109, 47%, 52%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(106, 77%, 33%, 1) 0%, hsla(107, 52%, 45%, 1) 50%, hsla(109, 47%, 52%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(106, 77%, 33%, 1) 0%, hsla(107, 52%, 45%, 1) 50%, hsla(109, 47%, 52%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#309313", endColorstr="#52B038", GradientType=1 ); */
    background-color: #4a9637;
    color: #fff;
    cursor: pointer;
    width: 250px;
    height: 150px;
    position: relative;
}

.index-section-4 .content .item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

#section-4 .content .item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in;
}

#section-4 .content .item:hover img{
    opacity: 1;
    z-index: 1;
}

#section-4 .row{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}
#section-4 .row .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#section-4 .row .column .name{
    margin: 10px 0;
    font-size: 21px;
    font-weight: 500;
}

/* end of section 4 */

/* section 5 */

#section-5{
    text-align: center;
    padding-bottom: 50px;
}
#section-5 .header h2{
    text-transform: uppercase;
}
#section-5 .testimonials-box{
    width: 100%;
    overflow: hidden;
}
#section-5 .testimonials{
    width: 500px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    /* overflow: hidden; */
    position: relative;
}
.index-section-5 .testimonials .slider-box{
    transform: translateX(-100%);
}
.index-section-5 .testimonials .slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 300%;
    height: 100%;
    flex-shrink: 0;
    transition: all 0.5s;
}

.index-section-5 .testimonials .controls{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.index-section-5 .testimonials .controls span{
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50%;
}

.index-section-5 .testimonials .controls span:hover{
    background-color: #c5c5c5;
}

.index-section-5 .testimonials .controls span i{
    font-size: 2rem;
}

#section-5 .testimonials .column{
    flex-basis: 33%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.5;
}
#section-5 .testimonials .column.active{
    opacity: 1;
}
#section-5 .testimonials .column img{
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}
#section-5 .testimonials .column .review{
    background: hsla(106, 77%, 33%, 1);

    background: linear-gradient(90deg, hsla(106, 77%, 33%, 1) 0%, hsla(107, 52%, 45%, 1) 50%, hsla(109, 47%, 52%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(106, 77%, 33%, 1) 0%, hsla(107, 52%, 45%, 1) 50%, hsla(109, 47%, 52%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(106, 77%, 33%, 1) 0%, hsla(107, 52%, 45%, 1) 50%, hsla(109, 47%, 52%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#309313", endColorstr="#52B038", GradientType=1 );
    color: #fff;
    padding: 20px 10px;
    width: calc(100% - 5px);
    margin: 0 auto;
    transform: translateY(-20px);
}

#section-5 .testimonials .column .review .review-header{
    font-size: 24px;
    margin: 10px 0;
    font-weight: 400;
    text-transform: uppercase;
}
#section-5 .testimonials .column .review .review-text{
    font-size: 12px;
    padding: 0 20px 10px 20px;
    height: 40px;
}

/* end of section 5 */

/* section 7 */

#section-7{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
}

#section-7 .contact{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
#section-7 .contact .item{
    position: relative;
    padding: 20px;
}
#section-7 .contact .item .socials a{
    color: black;
    margin: 0 5px;
}
#section-7 .contact .item .socials a i{
    font-size: 24px;
    transition: all 0.3s;
}
#section-7 .contact .item .socials a i:hover{
    transform: scale(1.2);
}
#section-7 .contact .item:nth-child(2)::before,
#section-7 .contact .item:nth-child(2)::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--medium-main-color);
}
#section-7 .contact .item:nth-child(2)::after{
    left: 100%;
}

/* end of section 7 */

/* footer */

footer{
    padding: 30px;
    background-color: var(--medium-main-color);
    text-align: center;
    text-transform: uppercase;
}

footer .content{
    color: #fff;
}

footer .content span {
    margin-top: 10px;
}

footer .content span a{
    color: black;
    text-decoration: underline;
}

/* end of footer */


/* responsive media */

@media screen and (max-width: 1200px){
    #section-4 .content .item{
        width: 200px;
        height: 130px;
    }
}

@media screen and (max-width: 1000px){
    .index-section-2 .content{
        padding: 0 !important;
    }
    #section-3 .content{
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 900px){
    #section-2 .content{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #section-2 .content .left{
        width: 100%;
    }
    #section-2 .content .right{
        width: 100%;
    }
    #section-2 .content .right{
        text-align: center;
    }
    #section-2 .content .right .text{
        margin: 0 auto;
        text-align: center;
        transform: translate(0);
    }
    #section-4 .content{
        grid-template-columns: auto auto;
    }
    #section-4 .content .item{
        width: 300px;
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
    .hero header ul,
    .about-hero header ul,
    .blog-hero header ul,
    .career-hero header ul,
    .project-hero header ul{
        display: none;
    }
    #section-3{
        padding-bottom: 50px;
    }
    #section-3 .content{
        padding: 50px 25px;
    }
    #section-4 .content{
        grid-template-columns: auto auto;
    }
    #section-5 .testimonials {
        overflow: hidden;
    }
    #section-5 .testimonials .column{
        opacity: 1;
    }
    #section-5 .testimonials .column .review .review-text{
        height: auto;
    }
    #section-7 .contact{
        grid-template-columns: auto;
    }
    #section-7 .contact .item:nth-child(2)::before,
    #section-7 .contact .item:nth-child(2)::after{
        display: none;
    }
}

@media screen and (max-width: 600px){
    #section-2 .content .left img{
        min-width: 200px; 
    }
    #section-4 .content{
        padding: 0;
        grid-template-columns: auto;
    }
    #section-5 .testimonials{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper{
        padding: 0 20px;
    }
    #section-2 .content{
        padding: 0;
    }
    #section-3 .content{
        padding: 50px 0;
        grid-template-columns: auto;
    }
    #section-5 .testimonials .column{
        margin: 0;
    }
    #section-5 .testimonials .column .review{
        padding: 10px;
        margin: 0;
        width: 100%;
    }
    .index-section-5 .testimonials .slider-box {
        width: 100%;
    }
}

/* end of responsive media */


/* ----------------- end of intex html ----------------- */


/* ----------------- about html ------------------ */

/* hero */

.about-hero{
    background-image: url(./images/about.html/about-hero.png);
}

/* video background on about html */

#myVideo{
    position: relative;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#about-hero{
    background-image: none;
}

#about-hero .wrapper{
    position: absolute;
    top: 0;
    height: 100%;
}

/* responsive media */

@media screen and (max-width: 900px){
    #myVideo{
        display: none;
    }
    #about-hero .background-overflow{
        display: none;
    }
    #about-hero {
        background-image: url(./images/about.html/about-hero.png);
    }
}


/* end of responsive media */

/* end of video background on about html */


/* end of hero */

/* section 2 */

.about-section-2{
    text-align: center;
}

.about-section-2 .header h2{
    color: var(--medium-main-color);
    text-transform: uppercase;
    font-weight: 400;
}

.about-section-2 .content{
    flex-direction: column;
}

.about-section-2 .content .top{
    margin: 30px 0 50px 0;
}

.about-section-2 .content .top ul li{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
}

.about-section-2 .content .top ul li::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.about-section-2 .content .top ul li.active::after{
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
}

.about-section-2 .content .content-box {
    display: block;
}

.about-section-2 .content .content-box .content-box-rect{
    display: flex;
    justify-content: center;
    display: none;
}
.about-section-2 .content .content-box .content-box-rect.active{
    display: flex;
}

.about-section-2 .content .content-box .bottom {
    margin: 0 20px;
    max-width: 450px;
}

.about-section-2 .content .content-box .bottom img{
    padding: 0 5px;
}

.about-section-2 .content .content-box .bottom .our-company{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--medium-main-color);
    padding: 25px 20px 50px;
    color: #fff;
    text-align: center;
    transform: translateY(-5px);
}
.about-section-2 .content .content-box .bottom .our-company h3{
    font-size: 24px;
    margin: 10px 0;
    text-transform: uppercase;
}

.about-section-2 .content .content-box .bottom .our-company p{
    opacity: 0.8;
}

/* end of section 2 */

/* section 3 */

.about-section-3 {
    background-color: #d5efcd !important;
    margin-bottom: 100px;
}

.about-section-3 .header h2{
    color: black !important;
}

.about-section-3 .about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
    overflow-x: hidden;
}
.about-section-3 .about-content .about-text{
    width: 300px;
    height: 100%;
    text-align: left;
    background-color: var(--medium-main-color);
    padding: 20px 40px;
    color: #fff;
    position: relative;
    transform: translate(-70px, -30px);
}

/* end of section 3 */

/* section 4 */

.about-section-4 {
    background-color: #d5efcd !important;
    padding-bottom: 0 !important;
}

.about-section-4 .header h2{
    color: black !important;
    margin-top: 50px;
    font-weight: 500 !important;
}
.about-section-4 .about-content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    transform: translateY(50px);
    align-items: center;
    overflow-x: hidden;
}
.about-section-4 .about-content .about-text{
    width: 300px;
    height: 100%;
    text-align: left;
    background-color: var(--medium-main-color);
    padding: 20px 40px;
    color: #fff;
    position: relative;
    transform: translate(70px, -30px);
}

/* end of section 4 */

/* section 5 */

.about-section-5{
    margin-top: 100px;
}

.about-section-5 .board{
    width: 80%;
    margin: 20px auto 40px auto;
}

.about-section-5 .about-content .choose-dir {
    width: 400px;
    height: 400px;
    margin: 25px auto 50px auto;
    position: relative;
}

/* animation for director's images */

.about-section-5 .about-content .choose-dir img{
    transition: 5s;
}

.about-section-5 .about-content .choose-dir img:hover{
    animation-name: makeCircle;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes makeCircle {
    0%{
        border-radius: 0%;
        border: 5px solid var(--light-main-color);
    }
    50%{
        border-radius: 50%;
        border: 5px solid var(--light-main-color);
    }
    100%{
        border-radius: 100%;
        border: 5px solid var(--light-main-color);
    }
}

/* end of animation for director's images */

.about-section-5 .about-content .choose-dir.disabled{
    display: none;
}

.about-section-5 .about-content .choose-dir::before{
    content: "";
    width: 250px;
    height: 250px;
    border: 2px solid var(--medium-main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.about-section-5 .about-content .choose-dir img{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
}

.about-section-5 .about-content .choose-dir img:nth-child(1){
    transform: translate(-50%, -150%);
}
.about-section-5 .about-content .choose-dir img:nth-child(2){
    transform: translate(50%, -50%);
}
.about-section-5 .about-content .choose-dir img:nth-child(3){
    transform: translate(-50%, 50%);
}
.about-section-5 .about-content .choose-dir img:nth-child(4){
    transform: translate(-150%, -50%);
}

.about-section-5 .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    display: none;
}

.about-section-5 .row.active{
    display: flex;
}

.about-section-5 .row .column{
    width: 100%;
    display: none;
}

.about-section-5 .row .column.active{
    display: block;
}

.about-section-5 .column img{
    max-width: 200px;
    width: 100%;
    border: 5px solid var(--medium-main-color);
    border-radius: 50%;
    cursor: pointer;
}

.about-section-5 .row .column .info{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.about-section-5 .row .column .info .info-header{
    margin: 10px 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--medium-main-color);
}

.about-section-5 .row .column .info .info-text {
    margin: 10px 0;
    font-size: 13px;
}


/* end of section 5 */

/* section 6 */

.about-section-6,
.blog-section-6,
.project-section-6{
    background-color: var(--medium-main-color);
    color: #fff;
    padding: 20px 0;
    margin-bottom: 50px;
    text-align: center;
}

.about-section-6 form,
.blog-section-6 form,
.project-section-6 form{
    margin: 0 auto;
}

.about-section-6 .header span,
.blog-section-6 .header span,
.career-section-6 .header span
.project-section-6 .header span{
    font-size: 16px;
}

.about-section-6 .content form,
.blog-section-6 .content form,
.project-section-6 .content form{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}

.about-section-6 .content form input,
.blog-section-6 .content form input,
.project-section-6 .content form input{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #fff;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
}

.about-section-6 .content form input::placeholder,
.blog-section-6 .content form input::placeholder,
.project-section-6 .content form input::placeholder{
    color: #fff;
}

.about-section-6 .content form .btn,
.blog-section-6 .content form .btn,
.project-section-6 .content form .btn{
    color: var(--medium-main-color);
    background-color: #fff;
    text-transform: uppercase;
    border: none;
}

/* end of section 6 */

/* responsive media */

@media screen and (max-width: 900px){
    .about-section-2 .content .content-box .content-box-rect{
        flex-direction: column;
    }
    .about-section-2 .content .content-box .bottom{
        margin: 20px 0;
    }
    .about-section-3 .about-content{
        width: 400px;
        margin: 0 auto;
        flex-direction: column;
        padding-bottom: 50px;
        transform: translate(0);
    }
    .about-section-3 .about-content img{
        width: 100%;
    }
    .about-section-3 .about-content .about-text{
        width: 400px;
        transform: translate(0);
        padding-bottom: 50px;
    }
    .about-section-4 .about-content{
        width: 400px;
        margin: 0 auto;
        flex-direction: column;
        transform: translate(0);
    }
    .about-section-4 .about-content img{
        width: 100%;
    }
    .about-section-4 .about-content .about-text{
        width: 100%;
        padding-bottom: 50px;
        transform: translate(0);
    }
}

@media screen and (max-width: 500px){
    .about-section-2 .content .top ul li{
        margin: 15px 10px;
    }
    .about-section-2 .content .content-box .bottom img{
        width: 100%;
    }
    .about-section-3 .about-content,
    .about-section-4 .about-content{
        width: 100%;
    }
    .about-section-3 .about-content img,
    .about-section-4 .about-content img{
        width: 100%;
    }

    .about-section-3 .about-content .about-text,
    .about-section-4 .about-content .about-text{
        width: 100%;
    }

    .about-section-5 .about-content .choose-dir {
        width: 150px;
        height: 150px;
        padding: 150px 0;
    }

    .about-section-5 .about-content .choose-dir::before{
        width: 200px;
        height: 200px;
    }

    .about-section-5 .about-content .choose-dir img{
        width: 100px;
    }

    .about-section-6 .content form,
    .blog-section-6 .content form,
    .project-section-6 .content form{
        flex-direction: column;
    }
    .about-section-6 .content form .btn,
    .blog-section-6 .content form .btn,
    .project-section-6 .content form .btn{
        margin-top: 15px;
    }
}

/* end of responsive media */

/* ----------------- end of about html ------------------ */


/* ------------------ blog html ------------------ */

/* video background on about html */

#myVideo4{
    position: relative;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#blog-hero{
    background-image: none;
}

#blog-hero .wrapper{
    position: absolute;
    top: 0;
    height: 100%;
}

/* responsive media */

@media screen and (max-width: 900px){
    #myVideo4{
        display: none;
    }
    #blog-hero .background-overflow{
        display: none;
    }
    #blog-hero {
        background-image: url(./images/blog.html/blog-hero.png);
    }
}

.blog-section-2{
    text-align: center !important;
    text-align: -webkit-center;
    margin-bottom: 50px;
}

.blog-section-2 .blog-content{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    grid-row-gap: 30px;
    justify-content: center;
}

.blog-section-2 .blog-content .item{
    background-color: var(--medium-main-color);
    padding: 20px;
    color: #fff;
    text-align: left;
    max-width: 450px;
    margin: 0 20px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.blog-section-2 .blog-content .item:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.blog-section-2 .blog-content .item img{
    width: 100%;
}
.blog-section-2 .blog-content .item .name{
    font-size: 21px;
    font-weight: 600;
    margin: 10px 0;
}

.blog-section-6{
    background-color: #336726;
    text-align: center;
}

.blog-section-6 form{
    margin: 0 auto;
}

/* responsive media */

@media screen and (max-width: 1000px){
    .blog-section-2 .blog-content{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 700px){
    .blog-section-2 .blog-content{
        grid-template-columns: auto;
    }
    .blog-section-2 .blog-content .item{
        margin: 0 auto;
    }
}

/* end of responsive media */

/* ------------------ end of blog html ------------------ */

/* ----------------- career html ----------------- */

.career-hero{
    background-image: url(./images/career.html/career-hero.png);
}

/* video background on career html */

#myVideo4{
    position: relative;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.career-hero{
    background-image: none;
}

.career-hero .wrapper{
    position: absolute;
    top: 0;
    height: 100%;
}

/* responsive media */

@media screen and (max-width: 900px){
    #myVideo4{
        display: none;
    }
    .career-hero .background-overflow{
        display: none;
    }
    .career-hero {
        background-image: url(./images/career.html/career-hero.png);
    }
}


/* end of responsive media */

/* end of video background on career html */

/* section 2 */

.career-section-2{
    padding-bottom: 0 !important;
}

.career-section-2 .content {
    background-color: var(--medium-main-color);
    color: #fff;
    /* transform: translateY(-50px); */
    z-index: 2;
}

.career-section-2 .content .left-side{
    text-align: center;
    width: 50%;
    padding: 50px 0;
    font-weight: 700;
    letter-spacing: 1px;
}
.career-section-2 .content .right-side{
    width: 50%;
    text-align: left;
    padding: 50px 0;
    font-size: 13px;
    opacity: 0.7;
}

/* end of section 2 */

/* section 3 */

.career-section-3{
    background-color: #fff !important;
    padding-bottom: 50px;
}
.career-section-3 .header h2{
    color: var(--medium-main-color) !important;
    font-weight: 600;
    margin: 0 !important;
}
.career-section-3 .header span{
    font-size: 14px;
    font-weight: 500;
}

.career-section-3 .career-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.career-section-3 .career-content .item{
    width: 100%;
    max-width: 300px;
    margin: 20px;
    color: var(--medium-main-color);
    font-size: 14px;
    line-height: 15px;
}

.career-section-3 .career-content .item .name{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* end of section 3 */

/* section 4 */

.career-section-4{
    background-color: #d5efcd;
    padding-top: 20px;
}

.career-section-4 .header h2{
    color: var(--main-color) !important;
    font-weight: 700 !important;
}
.career-section-4 .header span{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.career-section-4 .about-content{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

.career-section-4 .about-content .img-row{
    display: flex;
}

.career-section-4 .about-content .img-row img{
    width: 50%;
}

.career-section-4 .about-content .row-1 img:nth-child(1){
    flex: 5;
    width: 40%;
}
.career-section-4 .about-content .row-1 img:nth-child(2){
    flex: 7;
    width: 60%;
}


.career-section-4 .about-content .row-2 img:nth-child(1){
    flex: 7;
    width: 60%;
}
.career-section-4 .about-content .row-2 img:nth-child(2){
    flex: 5;
    width: 40%;
}

/* end of section 4 */

/* section 5 */

.career-section-5 {
    margin-top: 50px;
}

.career-section-5 .header h2{
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: 1px;
}

.career-section-5 table{
    width: 100%;
    color: var(--medium-main-color);
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.career-section-5 table .table-name{
    color: #c0d3ba;
    position: relative;
}

.career-section-5 table .table-name::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--medium-main-color);
}

.career-section-5 table .table-name th{
    font-weight: 500;
}

.career-section-5 table tr th{
    width: 400px;
    padding-top: 20px;
}

.career-section-5 table tr th:nth-child(2),
.career-section-5 table tr th:nth-child(3){
    text-align: center;
}

.career-section-5 table .table-row th:nth-child(2),
.career-section-5 table .table-row th:nth-child(3){
    font-weight: 500;
}

.career-section-5 table .table-row .name{
    font-weight: 600;
    color: var(--main-color);
    font-size: 20px;
}

.career-section-5 table .table-row .name span{
    font-weight: 500;
    color: var(--medium-main-color);
    font-size: 15px;
}

/* .career-section-5 table tr th{
    width: 30%;
} */

/* end of section 5 */

/* section 6 */

.career-section-6{
    background-color: #336726;
    padding: 20px 0;
    text-align: center;
}

.career-section-6 .header {
    color: #fff;
}
.career-section-6 .header h2 span{
    font-size: 15px;
}
.career-section-6 .btn{
    color: #336726;
    background-color: #fff;
    border: 2px solid #fff;
}

/* end of section 6 */

/* section 7 */

.career-section-7 {
    margin-top: 50px;
}

/* end of section 7 */

/* responsive media */

@media screen and (max-width: 779px){
    .career-section-3 .career-content .item{
        max-width: none;
    }
}

@media screen and (max-width: 768px){
    .career-section-2 .content{
        padding: 0 25px !important;
    }
    .career-section-2 .content .left-side{
        width: 100%;
        padding: 50px 0;
    }
    .career-section-2 .content .right-side{
        width: 100%;
        padding: 0 0 50px;
    }
    .career-section-5{
        overflow-x: auto !important;
    }
    .career-section-5 table{
        table-layout: fixed;
    }

}

@media screen and (max-width: 600px){
    .career-section-4 .about-content .img-row{
        flex-direction: column;
    }
    .career-section-4 .about-content .img-row img{
        width: 100% !important;
    }
}

/* end of responsive media */

/* ----------------- end of career html ----------------- */

/* ------------------- contact html ------------------- */

#form-page{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    padding: 25px 0;
    transform: translate(-50%,0);
    display: none;
    overflow-y: auto;
}

.overlay-form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c5c5c5;
    opacity: 0.3;
}

#form-page.open{
    display: block;
}

.contact-form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    /* min-height: 100vh; */
    background-color: #fff;
    position: relative;
    padding-top: 50px;
}

.contact-form .header {
    color: var(--main-color);
    font-weight: 700;
    margin: 10px 0;
    text-transform: uppercase;
    padding: 40px 20px 0 20px;
}

.contact-form form{
    text-align: left;
    padding: 20px;
    width: 90%;
}

.contact-form form .inputs{
    display: flex;
    align-items: center;
    margin: 25px 0;
    padding: 10px 0;
}

.contact-form form .inputs label{
    text-transform: uppercase;
    color: #808080;
    font-size: 14px;
    width: fit-content;
    margin-right: 20px;
}

.contact-form form .inputs input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #808080;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}
.contact-form form .inputs input:focus{
    outline: none;
}

.contact-form form .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form form .row .inputs:nth-child(1) {
    margin-right: 20px;
}

.contact-form form button{
    display: block;
    margin: 0 auto;
    background-color: transparent;
    cursor: pointer;
}

#close{
    position: absolute;
    top: 20px;
    left: calc(100% - 65px);
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .contact-form{
        width: 80%;
    }
}
@media screen and (max-width: 500px){
    .contact-form{
        width: 100%;
    }
}

/* ------------------- end of contact ------------------- */

/* ----------------- project html ----------------- */

.project-hero{
    background-image: url(./images/project.html/project-hero.png);
}

/* video background on about html */

#myVideo2{
    position: relative;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#project-hero{
    background-image: none;
}

#project-hero .wrapper{
    position: absolute;
    top: 0;
    height: 100%;
}

/* responsive media */

@media screen and (max-width: 900px){
    #myVideo2{
        display: none;
    }
    #project-hero .background-overflow{
        display: none;
    }
    #project-hero {
        background-image: url(./images/project.html/project-hero.png);
    }
}


/* end of responsive media */

/* end of video background on about html */

.project-hero{
    text-align: center;
}

.project-hero main h1 {
    color: white;
}

.project-hero main p{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

/* section 2 */

.project-section-2 {
    transform: translateY(-50px);
    z-index: 10;
    position: relative;
}

.project-section-2 .content{
    width: 100% !important;
    max-width: 900px;
}

.project-section-2 .content{
    display: grid !important;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.project-section-2 .content .item {
    width: 300px;
    border: 10px solid #fff;
    transition: all 0.3s ease-in;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding-bottom: 20px;
}

.project-section-2 .content .item:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project-section-2 .content .item .img-box{
    position: relative;
}

.project-section-2 .content .item .item-overlay-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--medium-main-color);
    opacity: 0;
    z-index: -10;
    transition: all 0.3s ease-in;
}

.project-section-2 .content .item:hover .item-overlay-img{
    z-index: 1;
    opacity: 0.3;
}

.project-section-2 .content .item img{
    width: 100%;
    max-width: 300px;
}

.project-section-2 .content .item .text-box {
    margin-top: 10px;
    text-align: left;
    padding: 0 5px;
}

.project-section-2 .content .item .text-box .text-box-header {
    margin: 10px 0 30px 0;
    position: relative;
    height: 70px;
}

.project-section-2 .content .item .text-box .text-box-header::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #808080;
    margin-top: 10px;
}

.project-section-2 .content .item .text-box .text-box-header h3{
    color: #464646;
    font-weight: 600;
}

.project-section-2 .content .item .text-box .text-box-header .check {
    display: flex;
    color: var(--medium-main-color);
    margin-top: 10px;
}

.project-section-2 .content .item .text-box .text-box-header .check i{
    font-size: 18px;
    margin-right: 5px;
    margin-top: 5px;
}

.project-section-2 .content .item .text-box .text-box-header .check p{
    font-size: 11px;
}

.project-section-2 .content .item .text-box .btn2{
    display: inline-block;
    color: white;
    background-color: var(--medium-main-color);
    padding: 2px 7px;
    border: 2px solid white;
    transition: all 0.3s;
}

.project-section-2 .content .item .text-box .btn2:hover{
    background-color: white;
    border: 2px solid var(--medium-main-color);
    color: var(--medium-main-color);
}


/* responsive media */

@media screen and (max-width: 1000px){
    .project-section-2 .content {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 900px){
    .project-section-2 .content {
        padding: 0 !important;
    }
}
@media screen and (max-width: 768px){
    .project-section-2 .content{
        text-align: center;
    }
    .project-section-2 .content .item{
        max-width: 250px;
    }
    .project-section-2 .content .item .img-box img{
        min-width: -webkit-fill-available;
        min-width: -moz-available;
    }
    .project-section-2 .content .item .text-box .text-box-header::after{
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px){
    .project-section-2 .content{
        grid-template-columns: auto;
    }
    .project-section-2 .content .item{
        width: 100%;
        max-width: -webkit-fill-available;
        max-width: -moz-available;
    }
    .project-section-2 .content .item .text-box .text-box-header{
        height: 50px;
    }
    .project-section-2 .content .text-box {
        text-align: center !important;
    }
    .project-section-2 .content .item .text-box .text-box-header::after{
        margin-top: 30px;
    }
    .project-section-2 .content .text-box .check{
        text-align: left;
        align-items: center;
    }
    .project-section-2 .content .text-box .btn2{
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px){
    .project-section-2 .content{
        grid-template-columns: auto;
    }
    .project-section-2 .content .item .text-box{
        text-align: center;
    }
    .project-section-2 .content .item .text-box .text-box-content{
        flex-direction: column;
    }
    .project-section-2 .content .item .text-box .text-box-content i {
        margin: 5px 0;
    }
}


/* end of responsive media */


/* end of section 2 */

/* ----------------- end of project html ----------------- */


/* section 3 and section 4 animations in about html */


.animation3{
    animation-name: reveal3;
    animation-duration: 2.5s;
}
.animation3-img{
    animation-name: reveal3-img;
    animation-duration: 2.5s;
}
@keyframes reveal3{
    0%{
        transform: translate(100%, -30px);
        opacity: 0;
    }
    100%{
        transform: translate(-70px, -30px);
        opacity: 1;
    }
}
@keyframes reveal3-img{
    0%{
        transform: translate(-100%, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* for small devices */

@keyframes reveal3-small{
    0%{
        transform: translate(100%, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes reveal3-img-small{
    0%{
        transform: translate(-100%, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

@media screen and (max-width: 900px){
    .animation3{
        animation: none;
        animation-name: reveal3-small;
        animation-duration: 2.5s;
    }
    .animation3-img{
        animation: none;
        animation-name: reveal3-img-small;
        animation-duration: 2.5s;
    }
}


.animation4{
    animation-name: reveal4;
    animation-duration: 2.5s;
}
.animation4-img{
    animation-name: reveal4-img;
    animation-duration: 2.5s;
}
@keyframes reveal4{
    0%{
        transform: translate(-100%, -30px);
        opacity: 0;
    }
    100%{
        transform: translate(70px, -30px);
        opacity: 1;
    }
}
@keyframes reveal4-img{
    0%{
        transform: translate(100%, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}

/* for small devices */

@keyframes reveal4-small{
    0%{
        transform: translate(-100%, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes reveal4-img-small{
    0%{
        transform: translate(100%, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@media screen and (max-width: 900px){
    .animation4{
        animation-name: reveal4-small;
        animation-duration: 2.5s;
    }
    .animation4-img{
        animation-name: reveal4-img-small;
        animation-duration: 2.5s;
    }
}


/* end of section 3 and section 4 animations in about html */
